.detail {
  display: flex;
  padding: 4.5rem;
  background-color: $Grey-light-1;
  border-bottom: $line;
}

.description {
  flex: 0 0 60%;
  margin-right: 4.5rem;
  box-sizing: $shadow-light;
  padding: 3rem;
  font-size:1.4rem ;
}

.user-reviews {
  flex: 1;
}
